.logo {
    width: 45px;
    height: 45px;
    margin: 2px;
    padding: 2px;
}

.inscription{
    margin-left: 35%; 
    margin-right: 15%;
}

.titre-inscription{
    margin-left: 12%;
}

.inscriptionBtn {
    background: orangered;
    color: white;
}

.navbar-toggle {
    background: orangered;
}

.navbar {
    background: white;
    border: 1px solid lightgrey;
}

span.icon-bar {
    background-color: white;
}

nav {
    margin: 0px;
    padding: 0px;
}

img.derniere-pizza {
    width: 300px;
    height: 300px;
}

div.row {
    font-family: Georgia;
}

body {
    background: wheat;
    margin-top: 70px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.bouton:hover {
    color: black;
}

.bouton {
    background: orangered;
    color: white;
    border: none;
}


/*cadre des dernières pizzas*/

.thumbnail {
    margin: 25px;
    border: 1px solid lightgrey;
}

.footer {
    border: 1px solid lightgrey;
    background: white;
    padding: 20px;
}

h1 {
    color: brown;
}

/* CSS du panier*/
img.img-panier {
    width:100%;
    max-width:100px;
}
.table > tbody > tr > td.vert-align{
    vertical-align: middle;
}
span.clickable-span{
    pointer-events: auto;
    cursor: pointer;
}

.tooltip-panier {
    position: relative;
    display: inline-block;
}

.tooltiptext-panier {
    position: absolute;
    z-index: 1;
}

.tooltip-panier .tooltiptext-panier {
    visibility: hidden;
    background-color: #eeeeee;
    color: black;
    padding: 5px 0;
    border-radius: 6px;
    /* position du tooltip*/
    top: -5px;
    left: 105%; 
}

.tooltip-panier:hover .tooltiptext-panier {
    visibility: visible;
}
/* Fin CSS du panier */